@font-face {
    font-family: 'Bodoni-BoldCondensed';
    src: url('../fonts/') format('woff2'),
        url('../fonts/Bodoni-BoldCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBlackItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBlack.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/Bodoni.woff2') format('woff2'),
        url('../fonts/Bodoni.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni-PosterCompressed';
    src: url('../fonts/Bodoni-PosterCompressed-Bold.woff2') format('woff2'),
        url('../fonts/Bodoni-PosterCompressed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni';
    src: url('../fonts/Bodoni-ExtraBold-Bold.woff2') format('woff2'),
        url('../fonts/Bodoni-ExtraBold-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyHeavy.woff2') format('woff2'),
        url('../fonts/SVN-GilroyHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyHeavyItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyHeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyLightItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyLight.woff2') format('woff2'),
        url('../fonts/SVN-GilroyLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyMedium.woff2') format('woff2'),
        url('../fonts/SVN-GilroyMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyMediumItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyMediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-Gilroy.woff2') format('woff2'),
        url('../fonts/SVN-Gilroy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XBold';
    src: url('../fonts/SVN-GilroyXBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyXBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyThin.woff2') format('woff2'),
        url('../fonts/SVN-GilroyThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroySemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroySemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroyThinItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-GilroySemiBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroySemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XBold';
    src: url('../fonts/SVN-GilroyXBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroyXBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XLight';
    src: url('../fonts/SVN-GilroyXLight.woff2') format('woff2'),
        url('../fonts/SVN-GilroyXLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy XLight';
    src: url('../fonts/SVN-GilroyXLightItalic.woff2') format('woff2'),
        url('../fonts/SVN-GilroyXLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
