.undervest {
    display: flex;
    overflow: hidden;

    &_left {
        height: 400px;
        width: 50%;
        position: relative;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_right {
        position: relative;
        z-index: 2;
        width: 50%;
        background-color: #9c4623;
        box-shadow: rgb(156, 70, 35, 0.95) -25px 25px 35px -15px,
            rgb(156, 70, 35, 0.95) -25px 35px 35px -15px,
            rgb(156, 70, 35, 0.95) -25px 35px 35px -15px,
            rgb(156, 70, 35, 0.95) -25px -25px 35px -15px,
            rgb(156, 70, 35, 0.95) -25px -35px 35px -15px,
            rgb(156, 70, 35, 0.95) -25px -35px 35px -15px;

        .undervest_box {
            padding: 40px;
            position: absolute;
            top: 40%;
            left: 50%;
            width: 70%;
            transform: translate(-50%, -50%);
            background-color: #062820;
            border-radius: 20px;

            .undervest-box_top {
                display: flex;
                justify-content: space-between;

                .undervest_user {
                    display: flex;
                    gap: 20px;

                    .user_img {
                        width: 60px;
                        height: 60px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    .user_info {
                        display: flex;
                        flex-direction: column;
                        justify-content: end;

                        .user_name {
                            margin-bottom: 12px;
                            color: #fff;
                            font-weight: 700;
                        }

                        .user_position {
                            color: $color-active;
                            margin-bottom: 4px;
                        }
                    }
                }
                i {
                    font-size: 60px;
                    color: $color-active;
                }
            }
        }

        .undervest_bottonSlider {
            position: absolute;
            bottom: 24%;
            left: 50%;
            transform: translateX(-50%);

            .btnSlide {
                padding: 8px;
                border: 1px solid $color-active;
                display: inline-block;

                &.active {
                    border: none;
                    background-color: $color-active;
                }
            }
        }

        .undervest-box_bottom {
            color: #fff;
            margin-top: 20px;
            line-height: 1.4;
            font-weight: 600;
        }
    }
}
