*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  min-height: 100vh;
}

@font-face {
  font-family: "Bodoni-BoldCondensed";
  src: url("../fonts/") format("woff2"), url("../fonts/Bodoni-BoldCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBlackItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBlack.woff2") format("woff2"), url("../fonts/SVN-GilroyBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni";
  src: url("../fonts/Bodoni.woff2") format("woff2"), url("../fonts/Bodoni.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni-PosterCompressed";
  src: url("../fonts/Bodoni-PosterCompressed-Bold.woff2") format("woff2"), url("../fonts/Bodoni-PosterCompressed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bodoni";
  src: url("../fonts/Bodoni-ExtraBold-Bold.woff2") format("woff2"), url("../fonts/Bodoni-ExtraBold-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyHeavy.woff2") format("woff2"), url("../fonts/SVN-GilroyHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyHeavyItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyHeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyLightItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBold.woff2") format("woff2"), url("../fonts/SVN-GilroyBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyLight.woff2") format("woff2"), url("../fonts/SVN-GilroyLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyMedium.woff2") format("woff2"), url("../fonts/SVN-GilroyMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyMediumItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-Gilroy.woff2") format("woff2"), url("../fonts/SVN-Gilroy.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("../fonts/SVN-GilroyXBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyXBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyThin.woff2") format("woff2"), url("../fonts/SVN-GilroyThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroySemiBoldItalic.woff2") format("woff2"), url("../fonts/SVN-GilroySemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyThinItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroySemiBold.woff2") format("woff2"), url("../fonts/SVN-GilroySemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XBold";
  src: url("../fonts/SVN-GilroyXBold.woff2") format("woff2"), url("../fonts/SVN-GilroyXBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("../fonts/SVN-GilroyXLight.woff2") format("woff2"), url("../fonts/SVN-GilroyXLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SVN-Gilroy XLight";
  src: url("../fonts/SVN-GilroyXLightItalic.woff2") format("woff2"), url("../fonts/SVN-GilroyXLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
body {
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
  color: #08332a;
  font-family: "SVN-Gilroy", sans-serif;
}

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 11px 16px;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.btn.btn-primary {
  font-weight: 600;
  color: #fff;
  background-color: #08332a;
}
.btn.btn-primary:hover {
  transform: translateY(-6px);
  background-color: #b88a2d;
  color: #08332a;
}
.btn.btn-primary--noAction {
  font-weight: 600;
  color: #fff;
  background-color: #08332a;
}

.width-c3 {
  width: 33.3333333333%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.header {
  padding: 16px 0;
  background-color: #fff;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo h1 a {
  text-decoration: none;
  color: #08332a;
  text-transform: uppercase;
  font-family: "Bodoni";
  font-size: 26px;
  font-weight: 400;
}
.header_menu .menu {
  display: flex;
  gap: 20px;
}
.header_menu .menu_item {
  list-style: none;
}
.header_menu .menu_item.active .menu_link {
  color: #b88a2d !important;
}
.header_menu .menu_item:hover .menu_link {
  color: #b88a2d;
}
.header_menu .menu_link {
  text-decoration: none;
  color: #08332a;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 14px 12px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.header_menu .menu_link i {
  font-size: 12px;
  margin-left: 4px;
}

.banner {
  position: relative;
  background-color: #fff;
  padding-bottom: 40px;
}
.banner_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner_button {
  position: absolute;
  right: 18.7%;
  bottom: 17%;
}

.about-us {
  background-color: #fff;
  padding-bottom: 50px;
}
.about-us_container {
  display: flex;
  gap: 20px;
}
.about-us_container .about-us_content {
  width: 45%;
}
.about-us_container .about-us_content .about-us_title {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  margin-top: 8px;
}
.about-us_container .about-us_content .about-us_title b {
  font-weight: 700;
}
.about-us_container .about-us_content .about-us_desc {
  font-size: 18px;
  line-height: 1.4;
  text-align: justify;
  margin-top: 12px;
  padding-right: 40px;
}
.about-us_container .about-us_content .about-us_link {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-top: 8px;
}
.about-us_container .about-us_content .about-us_link i {
  font-size: 12px;
  margin-left: 2px;
}
.about-us_container .about-us_img {
  width: 55%;
  position: relative;
}
.about-us_container .about-us_img::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
}
.about-us_container .about-us_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-new_container {
  background-color: #c3922c;
  border-radius: 40px;
  padding: 20px 120px 20px 120px;
  position: relative;
  z-index: 1;
  width: 85%;
  margin: 0 auto;
}
.product-new_container .product-new_title {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: "Bodoni";
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
.product-new_container .product-new_main {
  display: flex;
  gap: 80px;
}
.product-new_container .product-new_content {
  width: 70%;
  margin-top: 20px;
}
.product-new_container .product-new_content .product-new_name {
  color: #fff;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 12px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.2px;
}
.product-new_container .product-new_content .product-new_desc {
  color: #000;
  text-align: justify;
  font-size: 18px;
  padding-right: 20px;
  line-height: 1.3;
  margin-bottom: 14px;
  font-weight: 500;
  opacity: 0.7;
}
.product-new_container .product-new_content .product-new_price {
  margin-bottom: 18px;
  font-weight: 600;
  position: relative;
}
.product-new_container .product-new_content .product-new_price b {
  position: absolute;
  font-size: 12px;
  margin-left: 2px;
}
.product-new_container .product-new_img {
  width: 30%;
  position: relative;
}
.product-new_container .product-new_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-new_container .product-new_img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  left: 0;
  bottom: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product {
  background-color: #08332a;
  margin-top: -170px;
  padding-bottom: 20px;
}
.product_container {
  padding-top: 206px;
  color: #fff;
}
.product_container .product_top {
  text-align: center;
}
.product_container .product_top .product_title {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-family: "Bodoni";
  letter-spacing: 0.5px;
  margin-bottom: 14px;
}
.product_container .product_top .product_tag {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  display: inline-block;
  letter-spacing: 0.5px;
}
.product_container .product_top .product_tag::after {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 2px;
  background-color: #849995;
}
.product_container .product_main {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px;
}
.product_container .product_main .card {
  padding: 8px;
  border: 1px solid #fff;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
.product_container .product_main .card:hover {
  transform: translateY(-4px);
}
.product_container .product_main .card_img {
  height: 180px;
}
.product_container .product_main .card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_container .product_main .card_title {
  text-align: center;
  font-size: 18px;
  margin-top: 14px;
  font-weight: 600;
  text-transform: capitalize;
}
.product_container .product_main .card_price {
  text-align: center;
  margin: 14px 0 24px 0;
  color: #b88a2d;
  font-weight: 700;
}
.product_container .product_main .card_price b {
  position: absolute;
  font-size: 12px;
  margin-left: 2px;
}
.product_container .product_main .card_link {
  position: absolute;
  color: #fff;
  text-decoration: none;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 1;
  display: inline-block;
  background-color: #b88a2d;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 6px;
}
.product_container .product_bottom {
  margin-top: 80px;
  text-align: center;
}
.product_container .product_bottom a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: inline-block;
}
.product_container .product_bottom a i {
  font-size: 12px;
  margin-left: 4px;
}

.achievement {
  background-color: #062820;
  padding: 30px 0 50px 0;
}
.achievement_container {
  display: flex;
}
.achievement_item {
  padding: 0 15px;
  color: #fff;
  flex: 1;
}
.achievement_item:first-child {
  padding-left: 0;
}
.achievement_item:last-child {
  padding-right: 0;
}
.achievement_img {
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.achievement_img:hover ul {
  transform: translateY(0);
}
.achievement_img ul {
  position: absolute;
  inset: 0;
  padding: 24px 36px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  transition: all 0.5s ease;
  transform: translateY(100%);
}
.achievement_img ul li {
  list-style: none;
  text-transform: capitalize;
}
.achievement_img ul li:not(last-child) {
  margin-bottom: 10px;
}
.achievement_img ul li i {
  font-size: 14px;
  margin-right: 4px;
}
.achievement_img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.2;
}
.achievement_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.achievement_item:not(:last-child) .achievement_content {
  border-right: 1px solid #c3922c;
}
.achievement_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 0 -15px;
  margin-right: -15px;
}
.achievement_content i {
  font-size: 36px;
  color: #c3922c;
}
.achievement_content p {
  margin-left: 20px;
  line-height: 1;
  font-size: 24px;
}
.achievement_content p b {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.undervest {
  display: flex;
  overflow: hidden;
}
.undervest_left {
  height: 400px;
  width: 40%;
  position: relative;
  z-index: 1;
}
.undervest_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.undervest_right {
  position: relative;
  z-index: 2;
  width: 60%;
  background-color: #9c4623;
  box-shadow: rgba(156, 70, 35, 0.95) -25px 25px 35px -15px, rgba(156, 70, 35, 0.95) -25px 35px 35px -15px, rgba(156, 70, 35, 0.95) -25px 35px 35px -15px, rgba(156, 70, 35, 0.95) -25px -25px 35px -15px, rgba(156, 70, 35, 0.95) -25px -35px 35px -15px, rgba(156, 70, 35, 0.95) -25px -35px 35px -15px;
}
.undervest_right .undervest-right_container {
  position: relative;
  width: 70%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.undervest_right .undervest_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: #062820;
  border-radius: 20px;
}
.undervest_right .undervest_box .undervest-box_top {
  display: flex;
  justify-content: space-between;
}
.undervest_right .undervest_box .undervest-box_top .undervest_user {
  display: flex;
  gap: 20px;
}
.undervest_right .undervest_box .undervest-box_top .undervest_user .user_img {
  width: 60px;
  height: 60px;
}
.undervest_right .undervest_box .undervest-box_top .undervest_user .user_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.undervest_right .undervest_box .undervest-box_top .undervest_user .user_info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.undervest_right .undervest_box .undervest-box_top .undervest_user .user_info .user_name {
  margin-bottom: 12px;
  color: #fff;
  font-weight: 700;
}
.undervest_right .undervest_box .undervest-box_top .undervest_user .user_info .user_position {
  color: #b88a2d;
  margin-bottom: 4px;
}
.undervest_right .undervest_box .undervest-box_top i {
  font-size: 60px;
  color: #b88a2d;
}
.undervest_right .undervest-box_bottom {
  color: #fff;
  margin-top: 20px;
  line-height: 1.4;
  font-weight: 600;
}

.slides {
  display: flex;
  width: 500%;
}
.slides input {
  display: none;
}
.slides .slide {
  width: 20%;
  transition: 2s;
  padding: 40px;
}

.navigation-manual {
  position: absolute;
  display: flex;
  justify-content: center;
  top: calc(100% + 34px);
  left: 50%;
  transform: translateX(-50%);
}
.navigation-manual .manual-btn {
  cursor: pointer;
  padding: 8px;
  border: 1px solid #b88a2d;
  display: inline-block;
  transition: all 0.3s ease;
}
.navigation-manual .manual-btn:not(:last-child) {
  margin-right: 20px;
}
.navigation-manual .manual-btn:hover {
  background-color: #b88a2d;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  justify-content: center;
  top: calc(100% + 34px);
  left: 50%;
  transform: translateX(-50%);
}
.navigation-auto div {
  padding: 8px;
  border: 1px solid #b88a2d;
  display: inline-block;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #b88a2d;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #b88a2d;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #b88a2d;
}

.footer {
  background-color: #08332a;
  padding: 30px 0;
}
.footer_top .footer_logo {
  width: 80px;
  margin: 0 auto;
}
.footer_top .footer_logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer_top p {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  line-height: 1.4;
  font-size: 18px;
}
.footer_main {
  margin-top: 60px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.footer_main .footer_item p {
  color: #b88a2d;
  font-size: 24px;
  font-weight: 700;
}
.footer_main .footer_item ul {
  margin-top: 20px;
}
.footer_main .footer_item ul li {
  list-style: none;
}
.footer_main .footer_item ul li:hover a {
  color: #b88a2d;
}
.footer_main .footer_item ul li a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 4px 0;
  transition: all 0.3s ease;
}
.footer_bottom {
  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
}
.footer_bottom:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #fff;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.footer_bottom ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer_bottom ul li {
  list-style: none;
}
.footer_bottom ul li a {
  color: #fff;
  text-decoration: none;
}
.footer_bottom ul li a i {
  font-size: 40px;
}
.footer_bottom ul li a img {
  width: 60px;
}

/*# sourceMappingURL=style.css.map */
